* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
html {
    background-color: hsl(275, 100%, 50%);
    text-align: center;
    vertical-align: middle;
    /* overflow: hidden; */
}

body {
    height: 100vh;
    background-color: #bdbdbd;
}

body * {
    /* border: 1px dotted red; */
}

nav {
    height: 6vh;
    background-color: rgb(196, 209, 209);
    overflow-y: scroll;
}


/* footer {
    height: 4vh;
    background-color: rgb(196, 209, 209);
} */

main {
    height: 92%;
    width: min(100%, 1200px);
    margin: auto
}

section {
    margin: auto;
    height: 100%;
    width: 100%;

}

.baslik {
    height: 8%;
    font-size: 1.75rem;
    background-color: hsl(180, 100%, 22%);
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.metin {
    height: 22%;
    font-size: 1.5rem;
    background-color: teal;
    align-content: center;
}


div {
    height: 64%;
    width: max(80%,360px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* background-color: #ddd; */
    margin: auto;
}

button {

    background-color: #cdcdcd;
    width: 100%;
    color: #404040;
    font-size: 1.5rem;
    text-transform: none;
    border: none;
    align-items: center;
    flex-grow: 1;
    border-bottom: 2vh solid hsl(180, 100%, 23%);
    cursor: pointer;
    padding: 0rem 0.5rem;
    /* line-height: 2rem; */


}

div,
button {

    /* transition: 300ms; */
}


button:hover {
    color: teal;
    color: #cdcdcd;
    background-color: hsl(180, 100%, 27%);
}

div:hover button:not(:hover) {

}


article.farkliTemas {
    width: 80vw;
    height: 80vh;
    background-color: #404040;
}

.hide {
    display: none;
}